<html>
<head>
<title>Chill Boutique</title>
</head>
<body>
<span> Main HBS load starts</span>
<hr/>
<h3>Examples:</h3>
<ul>
<li><a href='/simple'>Simple variable display</a></li>
<li><a href='/complex'>Complex object display</a></li>
<li><a href='/loop'>Using loops with '&#123;&#123;#each&#125;&#125;'</a></li>
<li><a href='/logic'>Logic in your templates with '&#123;&#123;#if&#125;&#125;'</a></li>
</ul>
<hr/>
some value on main hbs
<hr/>
before some value
<hr/>
{{someValue}}
<hr/>
<br>after some value
<hr/>
<br>before body
<hr/>
{{{body}}}
<hr/>
<br>after body
<hr/>
<br>
<hr/>
<span> Main HBS load end</span>
<hr/>
</body>
<hr/>
</html>
