<span>Content load from index hbs starts</span>
<table>
  <tr>
    <td colspan="4"><img src="/media/images/home_banner_1.jpg"/></td>
  </tr>
    <tr>
      <td><img src="/media/images/b1.jpg"/></td>
      <td><img src="/media/images/b2.jpg"/></td>
      <td><img src="/media/images/b3.jpg"/></td>
      <td><img src="/media/images/b4.jpg"/></td>
    </tr>
</table>
<span>Content load from index hbs ends</span>
