<span>Content load from index hbs starts</span>
<table>
  <tr>
    <td><img src="/media/images/home_banner_1.jpg"/></td>
  </tr>
    <tr>
      <td>Prod 1</td>
      <td>Prod 1</td>
      <td>Prod 1</td>
      <td>Prod 1</td>
    </tr>
</table>
<span>Content load from index hbs ends</span>
